.cover__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.3);
    transition: 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cover__link:hover {
    cursor: pointer;
    background-color: rgba(42, 44, 47, 0.8);
}