.page {
    font-size: 1rem;
    line-height: 1.63;
    background-color: var(--bg-color);
    margin: 0 auto;
    padding: 0;
    color: var(--white);
    box-sizing: border-box;
    font-family: "Inter", "Arial ", sans-serif;
}

@media screen and (min-width: 2560px) {
    /* стили для больших мониторов с разрешением 4K */
}

@media screen and (min-width: 1440px) {
    /* стили для больших настольных компьютеров и ноутбуков */
}

@media screen and (min-width: 1024px) {
    .page {
        padding: 0 48px;
    }
}