.intro__list {
    margin: 42px 0 0 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .intro__list {
        margin: 20px 0 0 0;
    }
}