.intro__list {
    margin: 42px 0 0 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}


/* Основной код для разрешения 1024px */

@media screen and (min-width: 2560px) {
    /* стили для больших мониторов с разрешением 4K */
}

@media screen and (min-width: 1440px) {
    /* стили для больших настольных компьютеров и ноутбуков */
}

@media screen and (min-width: 768px) {
    .intro__list {}
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .intro__list {
        margin: 20px 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    /* стили для больших настольных компьютеров и ноутбуков */
}

@media screen and (max-width: 425px) {
    /* стили для широкого смартфона */
}

@media screen and (max-width: 375px) {
    /* стили для среднего смартфона */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}