    .header {
        max-width: 1280px;
        margin: 0 auto;
        height: 42px;
        padding: 16px 16px 0;
        display: flex;
        justify-content: space-between;
    }
    
    @media screen and (min-width: 768px) {
        .header {
            padding: 28px 24px 0;
        }
    }
    
    @media screen and (min-width: 1023px) {
        .header {
            padding: 28px 0 0 0;
        }
    }