.lead__title {
    margin: 48px 16px 0 16px;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.1;
    /* text-align: center; */
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin: 58px 16px 0 16px;
        font-size: 6rem;
        line-height: 1.04;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .lead__title {
        margin: 58px 232px 0 232px;
    }
}

@media screen and (min-width: 1280px) {
    /* стили для больших настольных компьютеров и ноутбуков */
    .lead__title {
        margin: 58px 232px 0 232px;
    }
}