.intro {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .intro {
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .intro {
        padding: 0px;
        max-width: 984px;
        align-self: start;
    }
}