.lead__subtitle {
    margin: 16px 16px 0 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: normal;
}


/* Основной код для разрешения 1024px */

@media screen and (min-width: 2560px) {
    /* стили для больших мониторов с разрешением 4K */
}

@media screen and (min-width: 1440px) {
    /* стили для больших настольных компьютеров и ноутбуков */
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px 64px 0 64px;
        font-size: 1.87rem;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .lead__subtitle {
        margin: 32px 185px 0 185px;
    }
}

@media screen and (max-width: 425px) {
    /* стили для широкого смартфона */
}

@media screen and (max-width: 375px) {
    /* стили для среднего смартфона */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}