.lead__subtitle {
    margin: 16px 16px 0 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px 64px 0 64px;
        font-size: 1.87rem;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .lead__subtitle {
        margin: 32px 185px 0 185px;
    }
}