.lead__group {
    margin: 40px 0 0 0;
    max-width: 100%;
    text-align: start;
    position: relative;
}

@media screen and (min-width: 768px) {
    .lead__group {
        margin: 56px 0 0 0;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .lead__group {
        min-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    /* стили для больших настольных компьютеров и ноутбуков */
    .lead__group {
        max-width: 984px;
        margin: 64px 0 0 0;
    }
}