.intro__title {
    margin: 0px;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 900;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 3.37rem;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .intro__title {
        max-width: 690px;
    }
}